<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="NombreTienda" value="Natutrends" />
    <add key="Direccion" value="Cra 6 # 7 - 06 apto 403 edificio rayenaris" />
    <add key="Celular" value="3188426287" />
    <add key="Departamento" value="Santander" />
    <add key="Ciudad" value="Floridablanca" />
    <add key="Barrio" value="Centro" />
    <add key="CodigoInter" value="901195703-4 (87622/89573)" />
    <add key="CodigoEnvia" value="901411985-1 (02-001-0004455)" />
    <add key="CodigoCoordinadora" value="36390341220.1" />
    <add key="Email" value="oruedarnomada@gmail.com" />
    <!-- Agrega más variables según tus necesidades -->
  </appSettings>
</configuration>
